h1 {
    text-align: center; 
    color: #2c3e50;     /* Màu xanh đen */
    font-size: 24px;    
    margin-top: 10px;
}
header p {
    text-align: center;
    color: #7f8c8d;     /* Màu xám nhạt */
}
.avatar {
    width: 150px;   
    height: 150px; 
    border-radius: 50%; /* Bo tròn 50% */
    border: 4px solid white; 
    display: block;   /* căn giữa */
    margin: 0 auto 20px auto; /* Căn giữa chiều ngang, cách bên dưới 20px */
}
body {
    background-color: #f0f2f5; /* Màu xám */
    font-family: Arial, sans-serif; 
    margin: 0;
}

.container {
    max-width: 800px; /* Chỉ cho web rộng tối đa */
    margin: 0 auto;   /* căn giữa khung web */
    background-color: white; 
    padding: 20px;    /* Cách lề bên */
    border-radius: 8px; /* Bo tròn góc */
    margin-top: 50px; /* Cách lề trên 50px */
}
h2 {
    color: #008080; /* Xanh ngọc */
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    border-top: 2px solid #eee;
    padding-top: 10px;
    background-color: #e0f2f1;
    padding-left: 10px;
    border-radius: 7px;
}

aside {
    width: 50%;           
    float: right;         
    
    background-color: #c8c8c8;  
    padding: 15px;       
    
    margin-left: 20px;    
    margin-bottom: 20px;
    
    border-radius: 8px;   
    border-left: 5px solid #333535;  */
    font-style: italic;   
    font-size: 0.9em;     
}

section p {
    text-align: justify;  /* Canh đều 2 bên lề */
    line-height: 1.6;     /* Giãn dòng ra */
    margin-bottom: 15px;
}
.music-player {
    width: 100%;           
    margin-top: 10px;      
    border-radius: 30px;   
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Đổ bóng */
    background-color: #809ba8; /* Màu nền nhẹ nhàng */
}